{% extends 'app/base.html' %}
{% load static %}
{% block title %}Article{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding:50px">
  <center><h1>Articles</h1></center>
  <br><br>
  <div class="row">
    <div class="col-md-12">
      <a style="text-decoration: none;" href="https://review.firstround.com/the-four-cringe-worthy-mistakes-too-many-startups-make-with-data">
      <div class="card">
        <div class="card-header" style="background-color: #2F3D50; color: white;">
          <h2 >The Four Cringe-Worthy Mistakes Too Many Startups Make with Data</h2>
          <h6 style="color: white;">By Amanda Richardson</h6>
        </div>
        <div class="card-body row px-2 align-items-center">
         
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/article1.jpg' %}" style="width: 100%; height: 70%;" alt="">
            </div>
            <div class="col-md-8">
              <p style="color: black;">Everyone wants to succeed at content marketing, but where do you start? John Jantsch answers this question perfectly:
              with understanding your customer’s journey, and mapping your content plan to it. The article is a quick read, but is
              hyper-actionable if you’re thinking about how to approach content development, or even if you’d like to repurpose old
              content with more effective delivery... <br><u style="color: blue;">Read more...</u> </p>
            </div>
        </div>
      </div>
      </a>
    </div>
    <br><br>
    <div class="col-md-12 my-4">
      <a style="text-decoration: none;" href="https://review.firstround.com/these-13-exercises-will-prepare-you-for-works-toughest-situations">
      <div class="card">
        <div class="card-header" style="background-color: #2F3D50; color: white;">
          <h2 >These 13 Exercises Will Prepare You for Work's Toughest Situations</h2>
          <h6 style="color: white;">By Maggie Leung</h6>
        </div>
        <div class="card-body row px-2 align-items-center">
         
            <div class="col-md-8">
              <p style="color: black;">There are so many people out there that parrot some form of this cliched management advice: “Have empathy.” “Understand
              others.” “Be human.” That’s great and all, but without actionable advice on how to do that, it’s not much good. It
              doesn’t get any more actionable than this. In this interview, Maggie Leung, VP of Content at Nerdwallet, shares 13 sets
              of questions you can ask yourself... <br> <u style="color: blue;">Read more...</u> </p>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/article2.jpg' %}" style="width: 100%; height: 70%;" alt="">
            </div>
        </div>
      </div>
      </a>
    </div>
    <br><br>
    <div class="col-md-12">
      <a style="text-decoration: none;"
        href="https://www.groovehq.com/blog/leadership-qualities">
        <div class="card">
          <div class="card-header" style="background-color: #2F3D50; color: white;">
            <h2>The Top 5 Leadership Qualities a First-Time Founder Should Practice</h2>
            <h6 style="color: white;">By Elen Venpeer</h6>
          </div>
          <div class="card-body row px-2 align-items-center">
    
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/article3.jpg' %}" style="width: 100%; height: 70%;" alt="">
            </div>
            <div class="col-md-8">
              <p style="color: black;">Starting a business is hard. But developing these leadership qualities will give you a chance of survival
              In addition to dealing with a million things on their plate at any given time, first-time business owners also need to
              learn to be managers for when their company starts growing—including all the leadership qualities that come with it.
              Some people are born leaders. Guiding, inspiring and helping other people succeed is their forte without... <br><u style="color: blue;">Read more...</u> </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <br><br>
    <div class="col-md-12">
      <a style="text-decoration: none;"
        href="https://www.groovehq.com/blog/my-first-business">
        <div class="card">
          <div class="card-header" style="background-color: #2F3D50; color: white;">
            <h2>Becoming an Entrepreneur: How I Started My Very First Business with Just $300</h2>
            <h6 style="color: white;">By Alex Turnbull</h6>
          </div>
          <div class="card-body row px-2 align-items-center">
    
            
            <div class="col-md-8">
              <p style="color: black;">My story of becoming an entrepreneur—and how I nearly lost everything on the very first day.
              
              “BOOM.”
              
              The vehicle shook, and I startled.
              
              “What the hell was that?,” I thought.
              
              And then, as my little car slowed to a crawl, and then to a stop, my excitement turned to a sigh of irritation as I
              realized what the sound was.
              
              Just a few minutes before, I had shaken hands with the Moke’s former owner.
              
              I had paid him $300. A lot of money for me.
              
              I was nervous, but I was excited about what I had planned for this old, beat-up machine. <br><u style="color: blue;">Read more...</u> </p>
            </div>
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/article4.png' %}" style="width: 100%; height: 70%;" alt="">
            </div>
          </div>
        </div>
      </a>
    </div>
    <br><br>
    <div class="col-md-12">
      <a style="text-decoration: none;"
        href="https://www.groovehq.com/blog/grow-your-business">
        <div class="card">
          <div class="card-header" style="background-color: #2F3D50; color: white;">
            <h2>How to Grow Your Business: 15 Steps We Actually Took Growing to $3.5M/Year</h2>
            <h6 style="color: white;">By Alex Turnbull</h6>
          </div>
          <div class="card-body row px-2 align-items-center">
    
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/article5.png' %}" style="width: 100%; height: 70%;" alt="">
            </div>
            <div class="col-md-8">
              <p style="color: black;">After seven years, 2,000+ customers, and growing from $0 to $290K+ in monthly revenue, I want to pull back the curtain
              on exactly what it takes to grow a business. Good, bad, and ugly.
              
              I almost shut the whole thing down.
              
              It was two years ago.
              
              Our business had stagnated. My head of marketing had just left.
              
              I didn’t know if it was worth it anymore.
              
              Those are the dark times. The moments entrepreneurs rarely talk about.
              
              Growing a business isn’t all sunshine and rainbows.. <br><u style="color: blue;">Read more...</u> </p>
            </div>
           
          </div>
        </div>
      </a>
    </div>
  </div>
</div>

{% endblock main-content %}