{% extends 'app/base.html' %}
{% load static %}
{% block title %}Article{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding:50px">
  <div class="row">
    <div class="col-md-12">
      <a style="text-decoration: none;" href="https://www.ilctr.org/entrepreneur-hof/elon-musk/?gclid=Cj0KCQiA6NOPBhCPARIsAHAy2zDAxMrofg4EpMMurBw0Pm12B9unqo7IZuEU9OgN35fY6Wa8sVQfeBQaAr4VEALw_wcB">
      <div class="card">
        <div class="card-header">
          <h2 >Elon Musk</h2>
        </div>
        <div class="card-body row px-2 align-items-center">
         
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/elonmusk.png' %}" style="width: 60%; height: 70%;" alt="">
            </div>
            <div class="col-md-8">
              <p style="color: black;">Elon Musk is a cutting-edge, serial entrepreneur born and raised in South Africa. A lifelong technologist and
              entrepreneur, he bought his first computer at age 10 and taught himself how to program it. He sold his first software
              program, a space game called Blastar, for about $500 when he was 12 years old. <u style="color: blue;">Read more...</u> </p>
            </div>
        </div>
      </div>
      </a>
    </div>
    <br><br>
    <div class="col-md-12 my-4">
      <a style="text-decoration: none;" href="https://www.ilctr.org/entrepreneur-hof/elon-musk/?gclid=Cj0KCQiA6NOPBhCPARIsAHAy2zDAxMrofg4EpMMurBw0Pm12B9unqo7IZuEU9OgN35fY6Wa8sVQfeBQaAr4VEALw_wcB">
      <div class="card">
        <div class="card-header">
          <h2 >Elon Musk</h2>
        </div>
        <div class="card-body row px-2 align-items-center">
         
            <div class="col-md-4 text-center">
              <img src="{% static 'app/images/article/elonmusk.png' %}" style="width: 60%; height: 70%;" alt="">
            </div>
            <div class="col-md-8">
              <p style="color: black;">Elon Musk is a cutting-edge, serial entrepreneur born and raised in South Africa. A lifelong technologist and
              entrepreneur, he bought his first computer at age 10 and taught himself how to program it. He sold his first software
              program, a space game called Blastar, for about $500 when he was 12 years old. <u style="color: blue;">Read more...</u> </p>
            </div>
        </div>
      </div>
      </a>
    </div>
  </div>
</div>

{% endblock main-content %}