{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Profile{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding-top: 40px;">
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-row  mt-5" style="border: none;">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-3">
            {% if customer.image %}
            <img src="{{ customer.image.url }}" width="100%" height="280px" alt="No images">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" width="100%" height="280px" alt="No Image">
            {% endif %}
          </div>
          <div class="col-md-5">
            <h4 class="card-title">
              <h1><b>{{customer.name}}</b></h1>
            </h4>
            <p class="card-text">
            <h3 class="text-muted">{{customer.profession}}</h3>
            </p>
          </div>
          
          {% if customer.user.id == request.user.id %}
          <div class="col-md-4 text-center">
            <div class="flex-row">
              <a href="{% url 'customer-form' customer.id %}" class="btn btn-lg" style="background-color: #FF4D3B; color: white;">Update Profile</a>
            </div>
          </div>
          {% elif request.user.is_authenticated %}
          <div class="col-md-4 text-center">
            <div class="flex-row btn-styled">
              <a href="{% url 'create-thread' %}" class="btn btn-lg" style="background-color: #FF4D3B; color: white;">Connect</a>
            </div>
          </div>
          
          {% else %}
          <div class="col-md-4 text-center">
            <div class="flex-row btn-styled">
              <a href="{% url 'login' %}" class="btn btn-lg" style="background-color: #FF4D3B; color: white;">Login or signup to Connect</a>
            </div>
          </div>
          {% endif %}
        </div>


      </div>

    </div>
  </div>
</div> <br> <br>

<style>
#card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

#title {
  color: grey;
  font-size: 18px;
}

#button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#button:hover{
  opacity: 0.7;
}
</style>


<div class="container mb-5">
  <div class="row">
    <div class="col-md-9">
      <div class="card ">
        <div class="card-header" style="background-color: #2F3D50; color: white;" color: white;"><b> General Interests</b></div>
        <div class="card-body">
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Username:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{customer.user.username}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Looking at:</b></p>
            </div>
            <div class="col-6">
              <p>{{customer.looking_at}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Sector Focus:</b></p>
            </div>
            <div class="col-6">
              <p>{{customer.sector}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Biography:</b></p>
            </div>
            <div class="col-6">
              <p>{{customer.biography}}</p>
            </div>
          </div>
          

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="background-color: #2F3D50; color: white;" color: white;">
          <b>Contact Details</b>
        </div>
        <div class="card-body">
          <p><i style="font-size:24px" class="fa me-1">&#xf095;</i> {{customer.mobile}}</p>
          <br>
          <p><i style="font-size:24px" class="fa me-1">&#xf0e0;</i> {{customer.email}}</p>
          <br>
          <a href="{{customer.facebook_link}}" id="link"><i class="fab fa-facebook-square fa-2x"></i></a>
          <a class="mx-3" id="link" href="{{customer.linkedin_link}}"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="{{customer.twitter_link}}" id="link"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br>
{% endblock main-content %}