{% extends 'app/base.html' %}
{% load static %}

{% block title %}inbox{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding: 60px;">
  <div class="row">
    <div class="col-md-6 p-5">
      <h3>Your Conversations</h3>
      <form method="GET" action="{% url 'create-thread' %}">
        <button class="btn p-3 my-3" type="submit" style="background-color: #FF4D3B; color: white;">Start a Conversation</button>
      </form>
    </div>


<div class="card shadow col-md-6" style="background-color:#2F3D50;">
  <h3 style="color: white;">Previous Message</h3>
  {% for thread in threads.all %}
    
    <div class="card p-3 shadow-sm my-2">
      <h5>{{ thread.user }} - {{ thread.receiver }}</h5>
      <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
    </div>
    
  {% endfor %}
  </div>
  </div>
  </div>

</div>


{% endblock main-content %}