{% extends 'app/base.html' %}
{% load static %}

{% block title %}inbox{% endblock title %}

{% block main-content %}

<div class="container my-5" style="padding-top: 80px;">
  <div class="row">
    <div class="col-md-5 p-5 text-center">
      <h3 class="text-center">Your Conversations</h3>
      <form class="btn-styled" method="GET" action="{% url 'create-thread' %}">
        <button class="btn p-3 my-3" type="submit" style="background-color: #FF4D3B; color: white;">Start a Conversation</button>
      </form>
    </div>


<div class="card shadow col-md-7 p-5" style="background-color:#2F3D50;">
  {% if threads %}
  <center><h3 style="color: white;">Previous Messages</h3></center>
  {% else %}
  <center><h3 style="color: white;">No Messages</h3></center>
  {% endif %}
  {% for thread in threads.all %}
    
    <div class="card p-3 shadow-sm my-2">
      <h5>{{ thread.user }} - {{ thread.receiver }}</h5>
      <a class="stretched-link" href="{% url 'thread' thread.pk %}"></a>
    </div>
    
  {% endfor %}
  </div>
  </div>
  </div>

</div>


{% endblock main-content %}