{% extends 'app/base.html' %}
{% load static %}
{% block title %}investor{% endblock title %}

{% block main-content %}

<div class="container my-5">
  <p style="padding: 10px;">Filter by:</p>
  <div class="row">
    <div class="col-md-12">

      <form action="" method="get">
        {{ myfilter.form }}
        <button class="btn" style="background-color: #FF4D3B; color: white;" type="submit">Search</button>
      </form>
    </div>
  </div>
</div>

<div class="container mt-5 text-muted">
  <p><b>Showing {{after_filter}} results</b></p>
</div>
<br>

{% for investor in page.object_list %}
<a href="{% url 'investor-profile' investor.id %}" style="text-decoration: none;">
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card mt-5 shadow">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-2">
            <img src="{{ investor.logo.url }}" width="120px" height="150px" alt="No images">
          </div>
          <div class="col-md-4">
            <h4 class="card-title">
              <h2><b style="color: black;">{{investor.company_name}}</b></h2>
            </h4>
            <p class="card-text">
            <h4 class="text-muted">{{investor.title}}</h4>
            </p>
          </div>
          <div class="col md 2">
            <p class="text-muted">Establish year</p>
            <p style="color: black;"><b> {{investor.establish_year}}</b></p>
          </div>
          <div class="col md 2">
            <p class="text-muted">Employee range</p>
            <p style="color: black;"><b> {{investor.employee_range}}</b></p>
          </div>
          <div class="col md 2">
            <p class="text-muted">Investor Type</p>
            <p style="color: black;"><b> {{investor.investor_type}}</b></p>
          </div>
          
        </div>
        <div class="card-footer" style="background-color: #2F3D50">
          <p style="color: white">Tags: <b class="me-1"> {{investor.tags}}</b></p>
        </div>

      </div>

    </div>
  </div>
</div>
</a>
{% endfor %}
<br>


<div class="container">
  <div class="row my-5">

    <div class="col-md-4 offset-md-5">
      <p><b> page {{page.number}}/{{page.paginator.num_pages}}</b></p>

      <nav aria-label="Page navigation example">
        <ul class="pagination">

          <li class="page-item">
            {% if page.has_previous %}
            <a class="page-link" href="{% url 'investor_home' %}?page={{ page.previous_page_number }}"
              aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
          </li>
          {% for num_page in page.paginator.page_range %}
          {% if page.number == num_page %}
          <li class="page-item active"><a class="page-link" href="{% url 'investor_home' %}?page={{ num_page }}">{{ num_page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{% url 'investor_home' %}?page={{ num_page }}">{{ num_page }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="page-item">
            {% if page.has_next %}
            <a class="page-link" href="{% url 'investor_home' %}?page={{ page.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>


{% endblock main-content %}