{% extends 'app/base.html' %}
{% load static %}
{% block title %}Investor Profile{% endblock title %}

{% block main-content %}
<div class="container my-5">
  <div class="row">
    <div class="col-md-12">
      <div class="card flex-row  mt-5" style="border: none;">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-3">
            {% if investor.logo %}
            <img src="{{ investor.logo.url }}" width="100%" height="auto" alt="No images">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" width="100%" height="auto" alt="">
            {% endif %}
          </div>
          <div class="col-md-5">
            <h4 class="card-title">
              <h1><b>{{investor.company_name}}</b></h1>
            </h4>
            <p class="card-text">
            <h3 class="text-muted">{{investor.title}}</h3>
            </p>
          </div>

          {% if investor.user.id == request.user.id %}
          <div class="col-md-4 text-center">
            <div class="flex-row">
              <a href="{% url 'investor-form' investor.id %}" class="btn btn-lg"
                style="background-color: #FF4D3B; color: white;">Update Profile</a>
            </div>
          </div>
          {% elif request.user.is_authenticated %}
          <div class="col-md-4 text-center">
            {% if request.user.is_customer %}
            <div></div>
            {% else %}
            <div class="flex-row btn-styled">
              <a href="{% url 'create-thread'  %}" class="btn btn-lg"
                style="background-color: #FF4D3B; color: white;">Connect</a>
            </div>
            {% endif %}
          </div>

          {% else %}
          <div class="col-md-4 text-center">
            <div class="flex-row btn-styled">
              <a href="{% url 'login' %}" class="btn btn-lg" style="background-color: #FF4D3B; color: white;">Login or
                signup to Connect</a>
            </div>
          </div>
          {% endif %}
        </div>


      </div>

    </div>
  </div>
</div> <br> <br>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card ">
        <div class="card-header" style="background-color: #2F3D50; color: white;" color: white;"><b> General
            Information</b></div>
        <div class="card-body ">
          <div class="row">
            {% if not request.user.is_customer %}
            <div class="col-4 text-muted">
              <p><b> Username:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.user.username}}</b></p>
            </div>
            {% endif %}
          </div>
         
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Establish year:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.establish_year}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Investor type:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.investor_type}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Tags:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.tags}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Employee range:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.employee_range}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b>Looking at:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.looking_at}} </b></p>
            </div>
          </div>

          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Market presence:</b></p>
            </div>
            <div class="col-6">
              <p><b> {{investor.market_presence}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b> Description:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{investor.description}}</b></p>
            </div>
          </div>
          <div class="row">
            <div class="col-4 text-muted">
              <p><b>Video:</b></p>
            </div>
            <div class="col-6">
              <p><b>{{investor.videofile}}</b></p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <div class="card-header" style="background-color: #2F3D50; color: white;" color: white;">
          <b>Contact details</b>
        </div>
        <div class="card-body">
          <p><i style='font-size:24px' class='fas me-1'>&#xf3c5;</i> {{investor.location}}</p>
          <br>
          <p><i style="font-size:24px" class="fa me-1">&#xf095;</i> {{investor.mobile}}</p>
          <br>
          <p><i style="font-size:24px" class="fa me-1">&#xf0e0;</i> {{investor.email}}</p>
          <br>
          <p><a href="{{investor.weblink}}" style="color: black; text-decoration: none;"><i style='font-size:24px'
                class='fas me-1'>&#xf0ac;</i> {{investor.weblink}}</a></p>
          <br>
          <a href="{{investor.facebook_link}}" id="link"><i class="fab fa-facebook-square fa-2x"></i></a>
          <a class="mx-3" id="link" href="{{investor.linkedin_link}}"><i class="fab fa-linkedin fa-2x"></i></a>
          <a href="{{investor.twitter_link}}" id="link"><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br>
<div class="container">
  <div class="card">
    <div class="col-md-12">
      <div class="card-header" style="background-color: #2F3D50; color: white;">
        <center>
          <h3>Team</h3>
        </center>
      </div>

      <br>
      <div class="row align-items-center justify-content-center pb-4">
        <div class="col-md-4">
          <div class="card" id="card">
            {% if investor.person1_image %}
            <img src="{{ investor.person1_image.url  }}" alt="John" style="width:100%; height: 280px;">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" alt="No Image" style="width:100%; height: 280px;">
            {% endif %}
            <br> <h2>{{investor.person1_name}}</h2>
            <p class="title p-2" id="title">{{investor.person1}}</p>


          </div>
        </div>

        <div class="col-md-4">
          <div class="card" id="card">
            {% if investor.person2_image %}
            <img src="{{ investor.person2_image.url }}" alt="John" style="width:100%; height: 280px;">
            {% else %}
            <img src="{% static 'app/images/banner1/images.png' %}" alt="No Image" style="width:100%; height: 280px;">
            {% endif %}
            <br> <h2>{{investor.person2_name}}</h2>
            <p class="title p-2" id="title">{{investor.person2}}</p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<br><br><br>
{% endblock main-content %}