{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% load widget_tweaks %}
{% block main-content %}



<section>
  <div class="container my-5" style="padding: 50px;">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card shadow p-3">
          <div class="card-header text-black">
            <h2>Log in</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'login' %}" method="POST" novalidate>
              {% if messages %}
              {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}}
            mb-5 {% endif %}">{{message}}</p>
              {% endfor %}
              {% endif %}
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
                {% endfor %}
                <br>

               <small><a href="{% url 'password_reset' %}" style="text-decoration:none">Forget Password?</a></small><br>
                <input type="submit" class="btn btn-primary mt-4" value="Login">
                <br>
                <div class="text-center text-primary fw-bold"><small>New
                    to StartupBD? <a href="{% url 'register' %}" class="text-danger" style="text-decoration:none">Creat an Account</a></small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock main-content %}