{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% load widget_tweaks %}
{% block main-content %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-6 my-5 mx-auto">
        <div class="card">
          <div class="card-header">
            <h2>Login</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'login' %}" method="POST" class="shadow p-5" novalidate>
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% if messages%}
                {% for message in messages %}
                <span style="color:red">{{ message }}</span>
                {% endfor %}
                {% endif %}
                {% endfor %}
                <br>
                <small><a href="" style="text-decoration:none">Forget Password?</a></small><br>
                <input type="submit" class="btn btn-primary mt-4" value="Login">
                <br>
                <div class="text-center text-primary fw-bold"><small>New
                    to StartupBD? <a href="{% url 'register' %}" class="text-danger">Creat an Account</a></small>
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>
{% endblock main-content %}