{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5" style="padding-top: 80px;">
 <div class="row">
 <h1 class="text-center">Hey {{request.user.username|capfirst}}!! </h1>
  <div class="col-sm-2 border-end">
  </div>
  <br>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h1 class="text-center">Your Password changed Successfully!!!</h1>
  </div>
  </div>
  </div>
  <br><br>
  {% endblock main-content %}