{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main-content %}
<div class="container my-5" style="padding-top: 40px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <h1 class="text-center">Change Your Password</h1>
            <hr>
            <form action="" method="post" novalidate class="shadow-sm p-4">
                {% csrf_token %}
                {% for fm in form %}
                <div class="form-group">
                    {{fm.label_tag}} {{fm}} <small class="text-danger">
                        {{fm.errors|striptags}}</small><br>
                </div>
                {% endfor %}
                <!-- <small><a href="">Forget Password?</a></small><br> -->
                <div class="btn-styled">
                    <input type="submit" class="btn mt-4" value="Save Password">
                </div>
                <br>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock main-content %}