{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password Done{% endblock title %}
{% block main-content %}
<div class="container my-5">
 <div class="row">
 <h3>Welcome {{request.user.username|capfirst}} </h3>
  <div class="col-sm-2 border-end">
   <ul class="list-unstyled">
    <li class="d-grid"><a href="" 
    class="btn btn-primary">Change Password Done</a></li>
   </ul>
  </div>
  <div class="col-sm-9 offset-sm-1 text-center">
    <h3>Password changed Successfully!!!</h3>
    <div><iframe src="https://tenor.com/view/check-mark-verified-correct-gif-15903843" width="200" height="200" frameborder="0"
    class="giphy-embed" allowFullScreen></iframe></div>
  </div>
  </div>
  </div>
  {% endblock main-content %}