{% extends 'app/base.html' %}
{% load static %}
{% block title %}Customer Registration{% endblock title %}
{% load widget_tweaks %}
{% block main-content %}



<section>
  <div class="container my-5">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <div class="card">
          <div class="card-header text-black">
            <h2>Registration for Startup Comapany</h2>
          </div>
          <div class="card-body">
            <form action="{% url 'startup_register' %}" method="POST" novalidate>
              {% if messages %}
              {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}}
            mb-5 {% endif %}">{{message}}</p>
              {% endfor %}
              {% endif %}
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
                {% endfor %}
                <br>
                <input type="submit" value="Register" class="btn btn-primary">
                <br>

                <div class="text-center text-primary fw-bold">
                  <small>Existing User? <a href="{% url 'login' %}" class="text-danger">Login Now</a></small>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock main-content %}