{% extends 'app/base.html' %}
{% load static %}
{% block title %}Startup{% endblock title %}

{% block main-content %}

<div class="container my-5">
  <small style="padding: 10px;"> <p>Filter by:</p></small>
  <div class="row">
    <div class="col-md-12">
  
  <form action="" method="get" default="select">
    {{ myfilter.form }}
    <button class="btn" style="background-color: #FF4D3B; color: white;" type="submit">Search</button>
  </form>
  </div>
  </div>
</div>

<div class="container mt-5 text-muted">
  <p><b >Showing {{after_filter}} results</b></p>
</div>
<br>
{% for startup in page.object_list %}
<a href="{% url 'startup-profile' startup.id %}" style="text-decoration: none;">
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card  mt-5 shadow">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-2">
            <img src="{{ startup.logo.url }}" width="120px" height="150px" alt="No images">
          </div>
          <div class="col-md-4">
            <h4 class="card-title">
              <h2 style="color: black;"><b>{{startup.company_name}}</b></h2>
            </h4>
            <p class="card-text">
            <h4 class="text-muted">{{startup.title}}</h4>
            </p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Establish year</p>
            <p style="color: black;" ><b> {{startup.establish_year}}</b></p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Employee range</p>
            <p style="color: black;" ><b> {{startup.employee_range}}</b></p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Business Model</p>
            <p style="color: black;" ><b> {{startup.business_model}}</b></p>
          </div>
          </div>
          <div style="background-color: #2F3D50" class="card-footer">
            <p style="color: white;">Sectors: <b class="me-2"> {{startup.sector}}</b></p>
          </div>
        
      </div>
      

    </div>
  </div>
</div>
</a>

<!-- pagination -->
{% endfor %}
<br>

<div class="container">
  <div class="row my-5">
    
    <div class="col-md-4 offset-md-5">
      <p>page {{page.number}}/{{page.paginator.num_pages}}</p>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          
          <li class="page-item">
            {% if page.has_previous %}
            <a class="page-link" href="{% url 'startup_home' %}?page={{ page.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
            {% endif %}
          </li>
          {% for num_page in page.paginator.page_range %}
          {% if page.number == num_page %}
          <li class="page-item active"><a class="page-link" href="{% url 'startup_home' %}?page={{ num_page }}">{{ num_page }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="{% url 'startup_home' %}?page={{ num_page }}">{{ num_page }}</a>
          </li>
          {% endif %}
          {% endfor %}
          <li class="page-item">
            {% if page.has_next %}
            <a class="page-link" href="{% url 'startup_home' %}?page={{ page.next_page_number }}" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
            {% endif %}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
{% endblock main-content %}