{% extends 'app/base.html' %}
{% load static %}
{% block title %}Startup{% endblock title %}

{% block main-content %}

<div class="container mt-3">
  <p>Filter by:</p>
  <div class="row">
    <div class="col-md-12">
  
  <form action="" method="get" default="select">
    {{ myfilter.form }}
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  </div>
  </div>
</div>

<div class="container mt-5 text-muted">
  <p><b >Showing {{after_filter}} results</b></p>
</div>
<br>
{% for startup in startups %}
<a href="{% url 'startup-profile' startup.id %}" style="text-decoration: none;">
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <div class="card flex-row  mt-5 shadow">
        <div class="card-body row px-2 align-items-center">
          <div class="col-md-2">
            <img src="{{ startup.logo.url }}" width="120px" height="150px" alt="No images">
          </div>
          <div class="col-md-4">
            <h4 class="card-title">
              <h2 style="color: black;"><b>{{startup.company_name}}</b></h2>
            </h4>
            <p class="card-text">
            <h4 class="text-muted">{{startup.title}}</h4>
            </p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Establish year</p>
            <p style="color: black;" ><b> {{startup.establish_year}}</b></p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Employee range</p>
            <p style="color: black;" ><b> {{startup.employee_range}}</b></p>
          </div>
          <div class="col-md-2">
            <p class="text-muted" >Business Model</p>
            <p style="color: black;" ><b> {{startup.business_model}}</b></p>
          </div>
          <div class="card-footer text-muted">
            <p>Sectors: <b class="me-1"> {{startup.sector}}</b></p>
          </div>
        </div>

        
      </div>
      

    </div>
  </div>
</div>
</a>
{% endfor %}
{% endblock main-content %}