{% extends 'app/base.html' %}
{% load static %}
{% block title %}Form Update{% endblock title %}
{% load widget_tweaks %}
{% block main-content %}



<section>
  <div class="container my-5" style="padding-top: 50px ;">
  <h1 class="text-center my-3 text-secondary">Update Profile</h1>
  
    
    <div class="row">
      
      <div class="col-md-12 mx-auto">
        <div class="card shadow p-5">
          <div class="card-header text-black">
            <h2>Profile of {{request.user.username|capfirst}}</h2>
          </div>
          <div class="card-body">
            <form action="" method="POST" novalidate enctype="multipart/form-data">
              {% if messages %}
              {% for message in messages %}
              <p {% if message.tags %} class="alert alert-{{message.tags}}
            mb-5 {% endif %}">{{message}}</p>
              {% endfor %}
              {% endif %}
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}
                {% for error in field.errors %}
                <span style="color:red">{{ error }}</span>
                {% endfor %}
                {% endfor %}
                <br>
                <input type="submit" value="Update" class="btn btn-primary">
                <br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

{% endblock main-content %}